
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive
}

body {
    font-size: 14pt;
}

header, main, footer{
    max-width: 700px;
    margin: 0 auto;
}

header, footer{
    margin: 1rem auto;
    border: 1px solid rgb(103, 101, 187);
    background-color: rgb(103, 101, 187);
    color: white;
    padding: 0.5rem;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

header img{
    width: 75%;
    height: auto;
    padding: 0.5rem;
}

h1{
    font-size: 1.5rem;
    margin: 0.15rem;
}

h2{
    font-size: 1rem;
    border-bottom: 1px solid #9999;
    text-shadow: 2px 2px 5px #000;
}

footer {
    text-align: center;
}

.last_updated{
    color: yellow;
}

ul {
    margin-left: 2rem;
}

li {
    padding: .2rem;
}