* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header, main, footer{
    max-width: 1000px;
    margin: 0 auto;
    
}

header, footer {
    margin: 1rem auto;
    padding: 1rem;
    background-color: #9381FF;
    color: white;
    border-radius: 25px;
    text-align: center;
}

main{
    display: grid;
}

.rule_of_thirds{
    grid-column: 1/2;
    background-color: #F8F7FF;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    
}

.contrast{
    grid-column: 2/3;
    background-color: #F8F7FF;
    margin: .5rem auto;
    padding: 10px;
    border-radius: 25px;
}

.visual_hiearchy {
    grid-column: 3/4;
    background-color: #F8F7FF;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}

.rule_of_thirds img {
    max-width: 90%;
}

.contrast img{
    max-width: 90%;
}

.visual_hiearchy img{
    max-width: 90%;
    padding: 10px;
}

 h3, h4, p, img {
    padding: 1rem;
 }

footer {
    margin: 0 auto;
}

 
@media (min-width: 1200px) {
    .rule_of_thirds{
        grid-column: 1/2;
    }

    .contrast{
        grid-column: 2/3;
    }

    .visual_hiearchy {
        grid-column: 3/4;
    }

}

/*
@media (min-width: 800px) {
    .rule_of_thirds{
        grid-column: 1/2;
    }

    .contrast{
        grid-column: 2/3;
    }

    .visual_hiearchy {
        grid-row: 2/3;
        grid-column: 1/2;
    }
}

@media (min-width: 10px) {
    .rule_of_thirds{
        grid-column: 1/2;
    }

    .contrast{
        grid-column: 2/3;
    }

    .visual_hiearchy {
        grid-column: 3/4;
    }
} */
