@media only screen and (max-width: 64em) {
     .rule_of_thirds{
        grid-row: 1/2
    }
    
    .contrast{
        grid-row: 1/2
    } 
    
    .visual_hiearchy {
        grid-column: 1/3;
        grid-row: 2/3;
    }
}