.page {
    width: 960px;
    margin: 0 auto;
}

header, footer {
    border: solid 10px rgb(103, 101, 187);
    background-color: rgb(103, 101, 187);
    text-decoration-color: white;
    border-radius: 25px;
    padding: 20px;
    color: white;
}

header {
    display: grid;
}

.header_image {
    grid-column: 1/2;
}

.header_name {
    grid-column: 2/3;
}

.last_updated{
    color: yellow;
}